{% extends '@TweetSearchSearch/layout.html.twig' %}

{% block title %}
    Tweets
{% endblock %}

{% block content %}
    <div class="header row align-items-center justify-content-center">
        <img class="header--image" src="{{ asset('images/twitter_PNG28.png') }}" alt="">
        <h1 class="header--text">TweetSearch</h1>
    </div>
    <div class="form-container row justify-content-center p-2">
        <input class="form-control col-12 col-sm-9 mb-2 mb-sm-auto" type="text" id="search" placeholder="Search...">
        <input class="btn btn-primary col-12 col-sm-2 mx-2" type="submit" value="Search" onclick="sendSearch()">
    </div>

    <div id="search_result">
        {% for tweet in tweets %}
        {% else %}
            <h1>No tweets provided.</h1>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#search').keyup(function(e) {
            if ($(e.target).val().length % 2 === 1)
                sendSearch();
        });

        function sendSearch() {
            var search = $("#search").val();

            $.ajax({
                url: "{{ path('tweet_search_search_search') }}",
                type: "POST",
                dataType: "json",
                data: {
                    "search": search
                },
                async: "true",
                success: function (response) {
                    var responseAsJson = JSON.parse(response);

                    $("#search_result").html(responseAsJson.template);
                    $("#count_results").html(responseAsJson.count);
                },
                error: function (response) {
                    console.log(response);
                }
            });

            return false;
        }
    </script>
{% endblock %}
