{% extends "@TweetSearchSearch/empty_layout.html.twig" %}

{% block content %}
    <ol>
    {% for tweet in tweets %}
        <li><h4>{{ tweet.userScreenName }} a tweeté avec les hashtags : {{ tweet.hashtags}}</h4></li>
    {% else %}
        <li><h1>No Result</h1></li>
    {% endfor %}
    </ol>
{% endblock %}
